
<center>
<h1>Thank you for coming to Feminism Night!</h1>
<h3> If you have a moment, we would greatly appreciate your feedback so we can make the next event even better! </h3>

<div class="home">
  <%= link_to "Leave Feedback", new_post_path, :class => "go_to_new" %>
</div>
</center>